body {background: #333;}

#page-wrap:after {content: "Smartphone Layout";}
h2 span, section h3 {display: none; }
body {font-size: xx-large;}
footer,input {font-size: large;}
.quiz_img {float: none;}
.nav_text{
display: none;
}
.nav_icon{
margin: 3px;    
width: 40px;
height: 40px;
display: block;
    
}
